<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Quản lý lỗi hệ thống</title>

    <style>

        .card-body .dataTables_wrapper .row:nth-child(3) {
            display: none;
        }
    </style>
</head>


<section layout:fragment="content" id="page_content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card card-border-primary">
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form id="submit-form" th:action="@{/contact/search}" method="post"
                              th:object="${searchExceptionDto}">
                            <div class="card-body">
                                <div class="col-4 mx-auto">
                                    <div class="input-group">
                                        <input th:field="*{keyWord}" type="text" class="form-control"
                                               placeholder="Search">
                                        <div class="input-group-append">
                                            <button class="btn btn-secondary" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <div class="form-group" data-select-id="1" style="text-align: center;">
                                            <span>Tiêu chí tìm kiếm</span>
                                            <select style="width: 200px;margin-left: auto;margin-right: auto;" th:field="*{criteria}" class="form-control">
                                                <option th:value="excName">Tên lỗi</option>
                                                <option th:value="ip">Địa chỉ IP</option>
                                                <option th:value="email">Email</option>
                                                <option th:value="method">Vị trí lỗi</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" data-select-id="4" style="text-align: center;">
                                            <span>Sắp xếp theo thời gian</span>
                                            <select style="width: 200px;margin-left: auto;margin-right: auto;" th:field="*{orderByTime}" class="form-control">
                                                <option th:value="DESC">DESC</option>
                                                <option th:value="ASC">ASC</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="card card-border-warning">
                    <div class="card-body">
                        <table id="example" class="table table-bordered table-hover dataTable dtr-inline">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Thời gian</th>
                                <th>Tên lỗi</th>
                                <th>Vị trí</th>
                                <th>IP</th>
                                <th>URI</th>
                                <th>Người dùng</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="exceptionLog : ${exceptionLogs}">
                                <td th:text="${exceptionLog.id}"></td>
                                <td th:text="${exceptionLog.createTime}"></td>
                                <td th:text="${exceptionLog.excName}"></td>
                                <td th:text="${exceptionLog.method}"></td>
                                <td th:text="${exceptionLog.ip}"></td>
                                <td th:text="${exceptionLog.uri}"></td>
                                <td th:text="${exceptionLog.userName}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <script>
        $(document).on("click", ".phone", function () {
            if ($(this).hasClass("hidetext")) {
                $(this).removeClass("hidetext")
            } else {
                $(this).addClass("hidetext")
            }
        });
    </script>

    <script>
        // Thêm các thuộc tính tìm kiếm hiển thị cho bảng
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <script>
        // Thêm modal delete
        $(document).ready(function () {
            $('.table #deleteButton').on('click', function (event) {
                event.preventDefault();
                // laays link
                var href = $(this).attr('href');
                console.log(href)
                $('#deleteModal #delRef').attr('href', href);

                $('#deleteModal').modal();
            });
        });
    </script>
</section>

</body>
</html>
