<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>

<section layout:fragment="content" id="page_content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">404</h3>
            <div class="box-tools pull-right">
                <a href="/customers" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
    </div>
</section>

</body>
</html>