<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">HR-TEK</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords" content="">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" href="/dist/files/assets/images/logo-new.png" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/dist/files/bower_components/bootstrap/css/bootstrap.min.css">
    <!-- Font awesome star css -->
    <link rel="stylesheet" type="text/css" href="/dist/files/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Font awesome star css -->
    <link rel="stylesheet" type="text/css"
          href="/dist/files/bower_components/jquery-bar-rating/css/fontawesome-stars.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/dist/files/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/dist/files/assets/icon/icofont/css/icofont.css">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="/dist/files/assets/icon/feather/css/feather.css">

    <!-- Data Table Css -->
    <link rel="stylesheet" type="text/css" href="/dist/files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/files/assets/pages/data-table/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/files/assets/pages/data-table/extensions/select/css/select.dataTables.min.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/dist/files/assets/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/dist/files/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/dist/files/assets/css/test.css">
    <link rel="stylesheet" type="text/css" href="/dist/files/assets/css/jquery.mCustomScrollbar.css">

</head>

<body>
<!-- Pre-loader start -->
<div class="theme-loader">
    <div class="ball-scale">
        <div class='contain'>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
            <div class="ring">
                <div class="frame"></div>
            </div>
        </div>
    </div>
</div>

<!-- Pre-loader end -->
<div class="waitting-preloader preloader3 display-none">
    <div class="circ1 loader-lg loader-inverse"></div>
    <div class="circ2 loader-lg loader-inverse"></div>
    <div class="circ3 loader-lg loader-inverse"></div>
    <div class="circ4 loader-lg loader-inverse"></div>
</div>
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <!-- Menu header start -->
        <header class="main-header">
            <div th:replace="~{fragments/header :: header}"></div>
        </header>

        <!-- Menu header end -->
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <!-- Menu header start -->
                <aside class="main-sidebar">
                    <div th:replace="~{fragments/navbar :: menu}"></div>
                </aside>

                <!-- Menu header end -->
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-header">
                                    <div class="row align-items-end">
                                        <div class="col-lg-8">
<!--                                            <div class="page-header-title">-->
<!--                                                <div class="d-inline">-->
<!--                                                    <h4>Chào bạn TrungDV. Mời bạn dùng hệ thống nhé!-->
<!--                                                    </h4>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="page-header-breadcrumb">
                                                <ul class="breadcrumb-title">
                                                    <li class="breadcrumb-item">
                                                        <a href="#"> <i class="feather icon-home"></i> </a>
                                                    </li>
                                                    <li class="breadcrumb-item"><a href="#!">Dashboard</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="page-body">
                                    <div layout:fragment="content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer-distributed">
            <div th:replace="~{fragments/footer :: footer}"></div>
        </footer>
    </div>
</div>
</div>

<!-- Required Jquery -->
<script type="text/javascript" src="/dist/files/bower_components/jquery/js/jquery.min.js"></script>
<script type="text/javascript" src="/dist/files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/dist/files/bower_components/popper.js/js/popper.min.js"></script>
<script type="text/javascript" src="/dist/files/bower_components/bootstrap/js/bootstrap.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="/dist/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="/dist/files/bower_components/modernizr/js/modernizr.js"></script>
<script type="text/javascript" src="/dist/files/bower_components/modernizr/js/css-scrollbars.js"></script>

<!-- data-table js -->
<script src="/dist/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/dist/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/dist/files/assets/pages/data-table/js/jszip.min.js"></script>
<script src="/dist/files/assets/pages/data-table/js/pdfmake.min.js"></script>
<script src="/dist/files/assets/pages/data-table/js/vfs_fonts.js"></script>
<script src="/dist/files/assets/pages/data-table/extensions/select/js/dataTables.select.min.js"></script>
<script src="/dist/files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/dist/files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/dist/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/dist/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/dist/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script><!-- data-table js -->
<script src="/dist/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/dist/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/dist/files/assets/pages/data-table/js/jszip.min.js"></script>
<script src="/dist/files/assets/pages/data-table/js/pdfmake.min.js"></script>
<script src="/dist/files/assets/pages/data-table/js/vfs_fonts.js"></script>
<script src="/dist/files/assets/pages/data-table/extensions/select/js/dataTables.select.min.js"></script>
<script src="/dist/files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/dist/files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/dist/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/dist/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/dist/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- i18next.min.js -->
<script type="text/javascript" src="/dist/files/bower_components/i18next/js/i18next.min.js"></script>
<script type="text/javascript" src="/dist/files/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
<script type="text/javascript" src="/dist/files/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
<script type="text/javascript" src="/dist/files/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
<!-- Custom js -->
<script src="/dist/files/assets/pages/data-table/extensions/select/js/select-custom.js"></script>
<script src="/dist/files/assets/js/pcoded.min.js"></script>
<script src="/dist/files/assets/js/vartical-layout.min.js"></script>
<script src="/dist/files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="/dist/files/assets/js/script.js"></script>

</body>
</html>
