<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Add Job</title>
</head>
<body>

<section layout:fragment="content" id="page_content">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Thêm Mới Job</h3>
                </div>
                <div class="card-body">

                    <form id = "add-job"  th:action="@{/save-job}" method="post" th:object="${newJob}">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Tiêu đề tuyển dụng</label>
                                    <input th:field="*{jobTitle}" required id="jobTitle" type="text" class="form-control" onkeyup= "titleValidation()"
                                           placeholder="Enter Job Title" autocomplete="off">
                                    <span id="title-error"></span>
                                </div>

                                <div class="form-group">
                                    <label>Số lượng</label>
                                    <input name="number" th:field="*{quantity}"  type="number" class="form-control" required >
                                </div>

                                <div class="form-group" data-select-id="4">
                                    <label>Hình thức làm việc</label>
                                    <select name="level" th:field="*{formOfWork}" class="form-control select2 select2-hidden-accessible " style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                        <option value ="">Please select...</option>
                                        <option th:value="Onsite" th:text="'Onsite'"></option>
                                        <option th:value="Insite" th:text="'Insite'"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Số năm kinh nghiệm</label>
                                    <select name="exp" th:field="*{yearExperience}" class="form-control select2 select2-hidden-accessible " style="width: 100%;" data-select2-id="2" tabindex="-1" aria-hidden="true">
                                        <option value ="">Please select...</option>
                                        <option th:value="0.3" th:text="'3 Tháng'"></option>
                                        <option th:value="0.5" th:text="'6 Tháng'"></option>
                                        <option th:value="1" th:text="'1 Năm'">1 Năm</option>
                                        <option th:value="2" th:text="'2 Năm'">2 Năm</option>
                                        <option th:value="5" th:text="'5 Năm'">5 Năm</option>
                                    </select>
                                </div>
                                <div class="form-group" data-select-id="4">
                                    <label>Level</label>
                                    <select name="level" th:field="*{level}" class="form-control select2 select2-hidden-accessible " style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                        <option value ="">Please select...</option>
                                        <option th:value="Junior" th:text="'Junior'"></option>
                                        <option th:value="Middle" th:text="'Middle'"></option>
                                        <option th:value="Senior" th:text="'Senior'"></option>
                                        <option th:value="Master" th:text="'Master'"></option>
                                    </select>
                                </div>

                                <div class="form-group" >
                                    <label>Vị trí ứng tuyển</label>
                                    <select th:field="*{positionList}" class="choices-multiple-remove-button" placeholder="Select upto 2 tags" multiple>
                                        <option th:each="position : ${positions}"
                                                th:value="${{position.positionId}}"
                                                th:text="${position.positionName}">
                                        </option>
                                    </select>
                                </div>

                                <div  class="form-group" >
                                    <label>Yêu cầu</label>
                                    <textarea class="form-control" th:field="*{description}"></textarea>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label >Thời gian bắt đầu</label>
                                    <input name ="address" required th:field="*{dateStart}"  type="date" class="form-control" title="Hãy chọn thời gian bắt đầu" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label for="phone1">Thời gian kết thúc</label>
                                    <input required name="phone_1" id="phone1" th:field="*{dateEnd}" type="date" class="form-control" title="Hãy chọn thời gian kết thúc" autocomplete="off">
                                </div>

                                <div class="form-group">
                                    <label for="startSalary">Lương khởi điểm</label>
                                    <input required id = "startSalary"  th:field="*{startSalary}" type="text" class="form-control" title="Hãy nhập lương khởi điểm" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label for="endSalary">Lương kết thúc</label>
                                    <input required name="phone_1" id="endSalary" th:field="*{endSalary}" type="text" class="form-control" title="Hãy nhập lương kết thúc" autocomplete="off">
                                </div>
                                <div  class="form-group" >
                                    <label>Đối tác</label>
                                    <select th:field="*{partner}" class="form-control">
                                        <option th:each="partner : ${partners}"
                                                th:value="${{partner.partnerId}}"
                                                th:text="${partner.partnerName}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group" >
                                    <label>Địa điểm</label>
                                    <select th:field="*{location}" class="form-control">
                                        <option th:each="location : ${locations}"
                                                th:value="${{location.cityId}}"
                                                th:text="${location.address}">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group" >
                                    <label>HR phụ trách</label>
                                    <select th:field="*{user}" class="form-control">
                                        <option th:each="user : ${users}"
                                                th:value="${{user.userId}}"
                                                th:text="${user.name}">
                                        </option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="table-wrapper">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-8"><h5>Danh Sách Skill</h5></div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-info add-new float-right "><i class="fa fa-plus"></i> Add Skill</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Skill</th>
                                    <th>Experience</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="sample-element" th:each = "jobWorkSkill,stat : ${newJob.jobWorkSkills}">

                                </tr>
                                </tbody>
                            </table>
                            <input type="submit" value="Create new Job" class="btn btn-success float-left">
                        </div>
                    </form>
                    <div class="hide" hidden>
                        <div class="list-skill">
                            <select id="jobWorkSkills*.skill" name="jobWorkSkills[*].skill"
                                    class="form-control select2bs4 select2-hidden-accessible" aria-hidden="true">
                                <option value = ""></option>
                                <option th:each="skill : ${skills}"
                                        th:value = "${{skill.skillId}}"
                                        th:text="${skill.skillName}"></option>
                            </select>
                        </div>
                        <div class="list-exp">
                            <select id="jobWorkSkills*.skillExperience" name="jobWorkSkills[*].skillExperience"
                                    class="form-control select2 select2-hidden-accessible" aria-hidden="true">
                                <option value ="0"></option>
                                <option th:value = "0.3" >3 Tháng</option>
                                <option th:value = "0.5" >6 Tháng</option>
                                <option th:value = "1" >1 Năm</option>
                                <option th:value = "2" >2 Năm</option>
                                <option th:value = "5" >5 Năm</option>
                            </select>
                        </div>
                        <div class="des">
                                    <textarea id="jobWorkSkills*.description" name="jobWorkSkills[*].description"
                                              class="form-control"></textarea>
                        </div>
                        <div class="action">
                            <a class="delete" title="" data-toggle="tooltip" data-original-title="Delete"><i class="material-icons"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function(){
            // Gợi ý nút action
            $('[data-toggle="tooltip"]').tooltip();

            function add_element(data,index){
                let res = data.clone()
                var id = res[0].firstElementChild.id
                var name = res[0].firstElementChild.name

                res.html(res.html().replace(
                    id,id.replace('*',index)
                ))
                res.html(res.html().replace(
                    name,name.replace('*',index)
                ))

                return res.html()
            }
            // Append table with add row form on add new button click
            var index = 0;
            $(".add-new").click(function(){

                // Nếu có skill thì gán index là số thứ tự hàng cuối cùng
                if($('.table.table-bordered tbody tr:last-child')[0] != null){
                    index = $('.table.table-bordered tbody tr:last-child')[0].rowIndex
                }

                console.log(index)

                var skill_new = $('.hide .list-skill ').eq(0)
                var exp_new = $('.hide .list-exp').eq(0)
                var des_new = $('.hide .des').eq(0)
                var action = $('.hide .action').eq(0)

                console.log(add_element(skill_new,index))
                console.log(add_element(exp_new,index))
                console.log(add_element(des_new,index))

                var new_row = '<tr>' +
                    '<td> ' + add_element(skill_new,index) +' </td>' +
                    '<td> ' + add_element(exp_new,index) +' </td>' +
                    '<td> ' + add_element(des_new,index) +' </td>' +
                    '<td> ' + action.html() +' </td>' +
                    '</tr>'

                $('.table.table-bordered tbody').append(new_row)

                $('[data-toggle="tooltip"]').tooltip();
                index++
            });
            // Add row on add button click
            // Delete row on delete button click
            $(document).on("click", ".delete", function(){
                $(this).parents("tr").remove();
                $(".add-new").removeAttr("disabled");
            });
        });


    </script>
</section>

</body>
</html>
