<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <title>Thêm mới Job</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Customer registration</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Registration Client</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới Job</h3>
            <div class="box-tools pull-right">
                <a href="#" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form" th:object="${job}" th:action="@{/save-job}" method="post">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
<!--                        <div class="form-group">-->
<!--                            <label for="id">ID</label>-->
<!--                            <input type="text" required="true" class="form-control" th:field="*{jobRecruitmentId}" id="id" />-->
<!--                        </div>-->
                        <div class="form-group">
                            <label for="title">Tiêu đề tuyển dụng</label>
                            <input type="text" required="true" class="form-control" th:field="*{jobTitle}" id="title" />
                        </div>
                        <div class="form-group" >
                            <label>Vị trí tuyển dụng</label>
                            <select th:field="*{positionId}" class="choices-multiple-remove-button" placeholder="Select upto 2 tags" multiple>
                                <option th:each="position : ${positions}"
                                        th:value="${{position.positionId}}"
                                        th:text="${position.positionName}">
                                </option>
                            </select>
                        </div>
                        <div  class="form-group" >
                            <label>Kỹ năng</label>
                            <select th:field="*{skillId}" class="choices-multiple-remove-button" placeholder="Select upto 2 tags" multiple>
                                <option th:each="skill : ${skills}"
                                        th:value="${{skill.skillId}}"
                                        th:text="${skill.skillName}">
                                </option>
                            </select>
                        </div>

                        <div  class="form-group" >
                            <h6>Level</h6>
                            <select th:field="*{level}" class="form-control">
                                <option th:value="Intern" th:text="Intern"></option>
                                <option th:value="Fresher" th:text="Fresher"></option>
                                <option th:value="Junior" th:text="Junior"></option>
                                <option th:value="Senior" th:text="Senior"></option>
                            </select>
                        </div>

                        <div  class="form-group" >
                            <h6>SN Kinh nghiệm</h6>
                            <select th:field="*{yearExperience}" class="form-control">
                                <option th:value="0.5" >6 tháng</option>
                                <option th:value="1" >1 năm</option>
                                <option th:value="1.5" >1,5 năm</option>
                                <option th:value="2" >2 năm</option>
                                <option th:value="3" >3 năm</option>
                                <option th:value="4.5" >4,5 năm</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="quantity">Số lượng</label>
                            <input type="number" required="true" class="form-control" th:field="*{quantity}" id="quantity" />
                        </div>
                        <div class="form-group">
                            <label for="start">Thời gian bắt đầu</label>
                            <input type="date" required="true" class="form-control" th:field="*{dateStart}" id="start" />
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dateEnd">Thời gian kết thúc</label>
                            <input type="date" required="true" class="form-control" th:field="*{dateEnd}" id="dateEnd" />
                        </div>
                        <div  class="form-group" >
                            <h6>Hình thức làm việc</h6>
                            <select th:field="*{formOfWork}" class="form-control">
                                <option th:value="onsite" th:text="onsite"></option>
                                <option th:value="insite" th:text="insite"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="startSalary">Lương khởi điểm</label>
                            <input type="text" required="true" class="form-control" th:field="*{startSalary}" id="startSalary" />
                        </div>
                        <div class="form-group">
                            <label for="endSalary">Lương cuối cùng</label>
                            <input type="text" required="true" class="form-control" th:field="*{endSalary}" id="endSalary" />
                        </div>
                        <div class="form-group">
                            <h6>Đối tác</h6>
                            <select th:field="*{partner.partnerId}" class="form-control">
                                <option th:each="partner : ${partners}" th:value="${partner.partnerId}" th:text="${partner.partnerName}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <h6>Địa điểm làm việc</h6>
                            <select th:field="*{location.cityId}" class="form-control">
                                <option th:each="location : ${locations}" th:value="${location.cityId}" th:text="${location.address}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <h6>HR phụ trách</h6>
                            <select th:field="*{user.userId}" class="form-control">
                                <option th:each="user : ${users}" th:value="${user.userId}" th:text="${user.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div>

                        <div style="margin-left: 15px" class="box-footer">
                            <button class="btn btn-primary" type="submit">Create</button>
                        </div>
                    </div>
        </form>
    </div>
</div>
</body>
</html>
