<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Các Job đang tuyển</title>
    <style>
        table tr td, th {
            text-align: center;
        }
    </style>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Multi Select table start -->
            <div class="card">
                <div class="card-block">
                    <div class="dt-responsive table-responsive">
                        <table id="multi-select" class="table table-striped table-bordered nowrap">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên Job</th>
                                <th>HR phụ trách</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="job : ${jobs}">
                                <td th:text="${job.jobRecruitmentId}"></td>
                                <td th:text="${job.jobTitle}"></td>
                                <td  th:text="${job.user.name}"></td>
                            </tr>

                            </tbody>
                        </table>

                        <div th:if = "${totalPages > 1}">
                            <div class = "row col-sm-10">
                                <div class = "col-sm-2">
                                    Total Rows: [[${totalItems}]]
                                </div>
                                <div class = "col-sm-1">
					                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
						                <a  th:if="${currentJobPage != i}" th:href="@{'/Page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						                <span style="color: #ff0000" th:unless="${currentJobPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					                </span>
                                </div>
                                <div class = "col-sm-2">
                                    <a th:if="${currentJobPage >= 2}" th:href="@{'/Page/' + ${currentJobPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
                                    <!--                                    <span th:unless="${currentPage < totalPages}">Next</span>-->
                                </div>
                                <div class = "col-sm-1">
                                    <a th:if="${currentJobPage < totalPages}" th:href="@{'/Page/' + ${currentJobPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                                    <span th:unless="${currentJobPage < totalPages}">Next</span>
                                </div>

                                <div class="col-sm-1">
                                    <a th:if="${currentJobPage < totalPages}" th:href="@{'/Page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                                    <span th:unless="${currentJobPage < totalPages}">Last</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Multi Select table end -->
        </div>
    </div>
</div>

</body>
</html>
