<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      sxmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Các Job đang tuyển</title>
    <style>
        table tr td, th {
            text-align: center;
        }
    </style>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Multi Select table start -->
            <div class="card">
                <div class="card-header">
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="feather icon-maximize full-card"></i></li>
                            <li><i class="feather icon-minus minimize-card"></i></li>
                            <li><i class="feather icon-trash-2 close-card"></i></li>
                        </ul>
                    </div>
                </div>

                <div class="card-block">
                    <div class="dt-responsive table-responsive">
                        <table id="multi-select" class="table table-striped table-bordered nowrap">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên Job</th>
                                <th>HR phụ trách</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="job : ${jobs}">
                                <td th:text="${job.jobRecruitmentId}"></td>
                                <td th:text="${job.jobTitle}"></td>
                                <td  th:text="${job.user.name}"></td>
                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Tên Job</th>
                                <th>HR phụ trách</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Multi Select table end -->
        </div>
    </div>
</div>

</body>
</html>
