<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <title>Thông tin chi tiết Job</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Customer registration</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Registration Client</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 style="text-align: center" class="box-title">Thông tin chi tiết Job</h3>
            <div class="box-tools pull-right">
                <a href="/customers" type="button" class="btn btn-box-tool"><i class="fa fa-list-ul"></i></a>
            </div>
        </div>
        <form data-toggle="validator" role="form" th:object="${job}" th:action="@{/job-detail/{id}}" method="post">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="title">Tiêu đề tuyển dụng</label>
                            <input type="text" required="true" class="form-control" th:field="*{jobTitle}" id="title" />
                        </div>
                        <div class="form-group">
                            <label for="position">Vị trí tuyển dụng</label>
                            <input type="text" required="true" class="form-control" th:field="*{position1}" id="position" />
                        </div>
                        <div class="form-group">
                            <label for="quantity">Số lượng</label>
                            <input type="email" required="true" class="form-control" th:field="*{quantity}" id="quantity" />
                        </div>
                        <div class="form-group">
                            <label for="start">Thời gian bắt đầu</label>
                            <input type="date" required="true" class="form-control" th:field="*{dateStart}" id="start" />
                        </div>
                        <div class="form-group">
                            <label for="dateEnd">Thời gian kết thúc</label>
                            <input type="date" required="true" class="form-control" th:field="*{dateEnd}" id="dateEnd" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="formOfWork">Hình thức làm việc</label>
                            <input type="tel" required="true" class="form-control" th:field="*{formOfWork}" id="formOfWork" />
                        </div>
                        <div class="form-group">
                            <label for="startSalary">Lương khởi điểm</label>
                            <input type="email" required="true" class="form-control" th:field="*{startSalary}" id="startSalary" />
                        </div>
                        <div class="form-group">
                            <label for="endSalary">Lương cuối cùng</label>
                            <input type="tel" required="true" class="form-control" th:field="*{endSalary}" id="endSalary" />
                        </div>
                        <div class="form-group">
                            <label for="partner">Đối tác</label>
                            <input type="text" required="true" class="form-control" th:field="*{partner1}" id="partner" />
                        </div>
                        <div class="form-group">
                            <label for="address">Địa điểm làm việc</label>
                            <input type="tel" required="true" class="form-control" th:field="*{address}" id="address" />
                        </div>
                    </div>
                <div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
