<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Danh sách các Job đang tuyển</title>

    <style>

        .card-body .dataTables_wrapper .row:nth-child(3) {
            display: none;
        }
    </style>
</head>


<section layout:fragment="content" id="page_content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card card-border-primary">
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="card-body">

                            <form th:action="@{/search-job}" th:object="${searchJobDto}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group" data-select-id="1">
                                            <label>Địa điểm</label>
                                            <select th:field="*{location}" class="form-control select2 select2-hidden-accessible " style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                                <option th:each="location : ${locations}"
                                                        th:value = "${location.address}"
                                                        th:text="${location.address}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group" data-select-id="2">
                                            <label>Level</label>
                                            <select th:field="*{level}" class="form-control select2 select2-hidden-accessible " style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                                <option value="Intern">Intern</option>
                                                <option value="Fresher">Fresher</option>
                                                <option value="Junior">Junior</option>
                                                <option value="Middel">Middle</option>
                                                <option value="Sennior">Sennior</option>
                                            </select>
                                        </div>
                                        <!--                                    <div class="form-group" data-select-id="3">-->
                                        <!--                                        <label>Vị trí ứng tuyển</label>-->
                                        <!--                                        <select th:field="*{positionList}" class="choices-multiple-remove-button" placeholder="Select upto 5 tags" multiple>-->
                                        <!--                                            <option th:each="position : ${positions}"-->
                                        <!--                                                    th:value="${position}"-->
                                        <!--                                                    th:text="${position.positionName}">-->
                                        <!--                                            </option>-->
                                        <!--                                        </select>-->
                                        <!--                                    </div>-->
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group" data-select-id="4">
                                            <label>Số năm kinh nghiệm</label>
                                            <select th:field="*{yearExperience}" class="form-control select2 select2-hidden-accessible " style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                                <option th:value = "0.5">6 tháng</option>
                                                <option th:value = "1">1 năm</option>
                                                <option th:value = "2">2 năm</option>
                                                <option th:value = "5">5 năm</option>
                                            </select>
                                        </div>
                                        <div class="form-group" data-select-id="5">
                                            <label>Đối tác</label>
                                            <select th:field="*{partner}" class="form-control select2 select2-hidden-accessible " style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                                <option th:each="partner : ${partners}"
                                                        th:value = "${partner.partnerName}"
                                                        th:text="${partner.partnerName}">
                                                </option>
                                            </select>
                                        </div>
                                        <!--                                    <div class="form-group" data-select-id="6">-->
                                        <!--                                        <label>Skill</label>-->
                                        <!--                                        <select name="listSkill" class="choices-multiple-remove-button" placeholder="Select upto 5 tags" multiple>-->
                                        <!--                                            <option th:each="skill : ${skills}"-->
                                        <!--                                                    th:value = "${skill}"-->
                                        <!--                                                    th:text="${skill.skillName}"></option>-->
                                        <!--                                        </select>-->
                                        <!--                                    </div>-->
                                    </div>
                                </div>

                                <div>
                                    <input style="cursor: pointer" type="submit" value="Search" />&nbsp;
                                    <input style="cursor: pointer" type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
                                </div>
                            </form>

                        </div>
                        <div class="card-body"  >
                            <div class="row">
                                <div class="col-6">
                                    <a th:href="@{/add-job}" class="btn btn-success">Add New Job</a>
                                </div>

                                <!--                                <div class="col-6">-->
                                <!--                                    <form method="post" th:object="${myFile}" th:action="@{contact/import}" enctype="multipart/form-data" >-->
                                <!--                                        <input type="file" th:field="*{multipartFile}" id="myFile" name="filename2">-->
                                <!--                                        <div class="mt-3">-->
                                <!--                                            <button type="submit" class="btn btn-primary">Submit</button>-->
                                <!--                                        </div>-->
                                <!--                                    </form>-->
                                <!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body" style="overflow:scroll;">
                    <table id="example" class="table table-bordered table-hover dataTable dtr-inline">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tiêu đề tuyển dụng</th>
                            <th>Vị trí tuyển dụng</th>
                            <th>Skill</th>
                            <th>Số lượng</th>
                            <th>Level</th>
                            <th>SN kinh nghiệm</th>
                            <th>Thời gian bắt đầu</th>
                            <th>Thời gian kết thúc</th>
                            <th>Tác vụ</th>
                        </tr>
                        </thead>
                        <tbody id="myTable">
                        <tr th:if = "${jobs.empty}">
                            <td colspan="2"> No Result </td>
                        </tr>
                        <tr th:each="job : ${jobs}">
                            <td th:text="${job.jobRecruitmentId}"></td>
                            <td th:text="${job.jobTitle}"></td>
                            <td>
                                <p th:each="positionList : ${job.jobPositionList}">
                                    <span th:each="position : ${positionList.position}">
                                        <span th:text="${position.positionName}"></span>
                                    </span>
                                </p>
                            </td>
                            <td>
                                <p th:each="skillList : ${job.jobWorkSkills}">
                                    <span th:each="skill : ${skillList.skill}">
                                        <span th:text="${skill.skillName}"></span>
                                    </span>
                                </p>
                            </td>
                            <td th:text="${job.quantity}"></td>
                            <td th:text="${job.level}"></td>
                            <td th:text="${job.yearExperience}"></td>
                            <td th:text="${job.dateStart}"></td>
                            <td th:text="${job.dateEnd}"></td>
                            <td class="text-right py-0 align-middle">
                                <div class="btn-group btn-group-sm btn-group-justified">
                                    <a th:href="@{/job-detail/{id}(id=${job.jobRecruitmentId})}" class="btn btn-sm">
                                        <i style="color: #0d6aad" class="icofont icofont-eye"></i></a>
                                    <a th:href="@{/edit-job/{id}(id=${job.jobRecruitmentId})}" class="btn btn-sm">
                                        <i style="color: #0d6aad" class="icofont icofont-ui-edit"></i></a>
                                    <a id="deleteButton" th:href="@{/delete-job/{id}(id=${job.jobRecruitmentId})}" class="btn btn-sm" >
                                        <i style="color: #0d6aad" class="icofont icofont-ui-delete"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Tiêu đề tuyển dụng</th>
                            <th>Vị trí tuyển dụng</th>
                            <th>Skill</th>
                            <th>Số lượng</th>
                            <th>Level</th>
                            <th>SN kinh nghiệm</th>
                            <th>Thời gian bắt đầu</th>
                            <th>Thời gian kết thúc</th>
                            <th>Tác vụ</th>
                        </tr>
                        </tfoot>
                    </table>

                    <div th:if = "${totalPages > 1}">
                        <div class = "row col-sm-10">
                            <div class = "col-sm-2">
                                Total Rows: [[${totalItems}]]
                            </div>
                            <div class = "col-sm-1">
					                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
						                <a  th:if="${currentJobPage != i}" th:href="@{'/JobPage/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						                <span style="color: #ff0000" th:unless="${currentJobPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					                </span>
                            </div>
                            <div class = "col-sm-2">
                                <a th:if="${currentJobPage >= 2}" th:href="@{'/JobPage/' + ${currentJobPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
                                <!--                                    <span th:unless="${currentPage < totalPages}">Next</span>-->
                            </div>
                            <div class = "col-sm-1">
                                <a th:if="${currentJobPage < totalPages}" th:href="@{'/JobPage/' + ${currentJobPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                                <span th:unless="${currentJobPage < totalPages}">Next</span>
                            </div>

                            <div class="col-sm-1">
                                <a th:if="${currentJobPage < totalPages}" th:href="@{'/JobPage/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                                <span th:unless="${currentJobPage < totalPages}">Last</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <script>
        $(document).on("click", ".phone", function(){
            if($(this).hasClass("hidetext")){
                $(this).removeClass("hidetext")
            }else{
                $(this).addClass("hidetext")
            }
        });
    </script>

    <script>
        // Thêm các thuộc tính tìm kiếm hiển thị cho bảng
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
    <script>
        // Thêm modal delete
        $(document).ready(function() {
            $('.table #deleteButton').on('click',function(event){
                event.preventDefault();
                // laays link
                var href = $(this).attr('href');
                console.log(href)
                $('#deleteModal #delRef').attr('href',href);

                $('#deleteModal').modal();
            });
        } );
    </script>
</section>

</body>
</html>
