<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Add Transaction</title>
</head>
<body>

<section layout:fragment="content" id="page_content">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Thêm mới Job phù hợp</h3>
                </div>
                <div class="card-body">
                    <form id="add-transaction" th:object="${searchObject}"
                          th:action="@{/contact/add-transaction/search/{id}(id=${contactDto.candidateId})}"
                          method="get">

                        <div class="form-group" style="display: none">
                            <label>ID</label>
                            <input id="candidateId" name="name" th:field="${contactDto.candidateId}" type="text"
                                   class="form-control"
                                   readonly placeholder="Id" autocomplete="off">
                        </div>

                        <div class="col-8 mx-auto">
                            <div class="input-group">
                                <input th:field="*{keyWord}" type="text" class="form-control" placeholder="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around">
                            <div class="col-md-4 d-flex juỉstify-content-center">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input th:field="*{suitableSkill}" class="form-check-input" type="checkbox"
                                               value="">
                                        <label class="form-check-label">
                                            Phù hợp kỹ năng
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 d-flex justify-content-center">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input th:field="*{suitableLevel}" class="form-check-input" type="checkbox"
                                               value="">
                                        <label class="form-check-label">
                                            Phù hợp trình độ
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group d-flex justify-content-center">
                                    <div class="form-check">
                                        <input th:field="*{suitableExp}" class="form-check-input" type="checkbox"
                                               value="">
                                        <label class="form-check-label">
                                            Phù hợp kinh nghiệm
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form action="">
                        <div class="table-wrapper">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Tên công việc</th>
                                    <th>Vị trí</th>
                                    <th>Kỹ năng</th>
                                    <th>Level</th>
                                    <th>Số năm</th>
                                    <th>Thêm vị trí ứng tuyển</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="job : ${jobs}">
                                    <td style="display:none;" th:text="${job.jobRecruitmentId}"></td>
                                    <td th:text="${job.jobTitle}"></td>
                                    <td th:text="${job.jobPositionList}"></td>
                                    <td th:text="${job.jobWorkSkills}"></td>
                                    <td th:text="${job.level}"></td>
                                    <td th:text="${job.yearExperience}"></td>
                                    <td style="text-align:center"><input class="use-job"
                                                                         th:checked="${job.takeCareTransactionList}"
                                                                         type="checkbox"></td>
                                </tr>
                                </tbody>
                            </table>
                            <input type="submit" value="Cập nhật" class="btn btn-success float-left">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-title">Xác nhận</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p id="message-body"></p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-success" id="confirm">Đồng ý</a>
                    <a href="#" class="btn btn-danger" data-dismiss="modal">Hủy</a>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.css"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<script>
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    let jobRecruitmentId;
    let thisCheckbox;
    $('.use-job').on('click', function () {
        let $row = $(this).closest("tr"), $tds = $row.find("td:nth-child(1)");
        thisCheckbox = $row.find("td:nth-child(7)").children("input");
        thisCheckbox.prop('checked', !thisCheckbox.prop('checked'));
        $.each($tds, function () {
            jobRecruitmentId = $(this).text();
        });
        $(document).ready(function () {
            if (thisCheckbox.is(":checked")) {
                $('#modal-title').text("Xác nhận xóa vị trí ứng tuyển");
                $('#message-body').text("Bạn chắc chắn muốn xóa vị trí ứng tuyển này cho ứng viên?");
            } else {
                $('#modal-title').text("Xác nhận thêm vị trí ứng tuyển");
                $('#message-body').text("Bạn chắc chắn muốn thêm vị trí ứng tuyển này cho ứng viên?");
            }
            jQuery("#myModal").modal();
        });
    });
    $(document).ready(function () {
        $('#confirm').click(function () {
            let candidateId = jQuery("#candidateId").val();
            $.ajax({
                url: "/contact/add-transaction/create",
                type: "post",
                cache: false,
                data: {
                    "candidateId": candidateId,
                    "jobRecruitmentId": jobRecruitmentId
                },
                success: function (response) {
                    toastr.success(response);
                    $('#myModal').modal('hide');
                    thisCheckbox.prop('checked', !thisCheckbox.prop('checked'));
                },
                error: function (response) {
                    toastr.error(response.responseText);
                    $('#myModal').modal('hide');
                }
            });
        });
    });
</script>