<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>

<section layout:fragment="content" id="page_content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card card-border-primary">
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="card-body">
                            <div class="col-4 mx-auto">
                                <div class="input-group">
                                    <input id="filterSearch" type="text" class="form-control" placeholder="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" data-select-id="1">
                                        <label>Trạng thái</label>
                                        <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                            <option></option>
                                            <option>Chưa phản hồi</option>
                                            <option>Đã phản hồi</option>
                                            <option>Phỏng vấn</option>
                                            <option>Pass</option>
                                            <option>Fail</option>
                                            <option>Sẵn sàng đi làm</option>
                                            <option>Chưa đi làm</option>
                                        </select>
                                    </div>
                                    <div class="form-group" data-select-id="2">
                                        <label>Level</label>
                                        <select class="form-control select2 select2-hidden-accessible " style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                            <option>Intern</option>
                                            <option>Fresher</option>
                                            <option>Junior</option>
                                            <option>Middel</option>
                                            <option>Sennior</option>
                                        </select>
                                    </div>
                                    <div class="form-group" data-select-id="3">
                                        <label>Vị trí ứng tuyển</label>
                                        <select class="choices-multiple-remove-button" placeholder="Select upto 5 tags" multiple>
                                            <option th:each="position : ${positions}"
                                                    th:value="${position}"
                                                    th:text="${position.positionName}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group" data-select-id="4">
                                        <label>Số năm kinh nghiệm</label>
                                        <select  class="form-control select2 select2-hidden-accessible " style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                            <option></option>
                                            <option>3 tháng</option>
                                            <option>6 tháng</option>
                                            <option>1 năm</option>
                                            <option>2 năm</option>
                                            <option>5 năm</option>
                                        </select>
                                    </div>
                                    <div class="form-group" data-select-id="5">
                                        <label>Black list</label>
                                        <select  class="form-control select2 select2-hidden-accessible " style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                            <option>ON</option>
                                            <option>OFF</option>
                                            <option>ALL</option>
                                        </select>
                                    </div>
                                    <div class="form-group" data-select-id="6">
                                        <label>Skill</label>
                                        <select name="listSkill" class="choices-multiple-remove-button" placeholder="Select upto 5 tags" multiple>
                                            <option th:each="skill : ${skills}"
                                            th:value = "${skill}"
                                            th:text="${skill.skillName}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body"  >
                            <div class="row">
                                <div class="col-6">
                                    <a th:href="@{/contact/add}" class="btn btn-success">Add New</a>
                                </div>

                                <div class="col-6">
                                    <form method="post" th:object="${myFile}" th:action="@{contact/import}" enctype="multipart/form-data" >
                                        <input type="file" th:field="*{multipartFile}" id="myFile" name="filename2">
                                        <div class="mt-3">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <table id="example" class="table table-bordered table-hover dataTable dtr-inline">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên</th>
                            <th>Vị Trí</th>
                            <th>Level</th>
                            <th>Skill</th>
                            <th>Exp</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Blacklist</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody id="myTable">
                        <tr th:if = "${contacts.empty}">
                            <td colspan="2"> No Result </td>
                        </tr>
                        <tr th:each="contact : ${contacts}">
                            <td th:text="${contact.candidateId}"></td>
                            <td th:text="${contact.candidateName}"></td>
                            <td>
                                <p th:each="positionList : ${contact.contactPositionList}">
                                    <span th:each="position : ${positionList.position}">
                                        <span th:text="${position.positionName}"></span>
                                    </span>
                                </p>
                            </td>
                            <td th:text="${contact.levels}"></td>
                            <td>
                                <p th:each="skillList : ${contact.contactWorkSkillList}">
                                    <span th:each="skill : ${skillList.skill}">
                                        <span th:text="${skill.skillName}"></span>
                                    </span>
                                </p>
                            </td>
                            <td th:text="${contact.yearExperience}"></td>
                            <td th:text="${contact.email1}"></td>
                            <td class="phone hidetext"  th:text="${contact.phone1}"></td>
                            <td></td>
                            <td class="text-right py-0 align-middle">
                                <div class="btn-group btn-group-sm btn-group-justified">
                                    <a th:href="@{/contact/detail/{id}(id=${contact.candidateId})}" class="btn btn-sm">
                                        <i class="icofont icofont-eye"></i></a>
                                    <a th:href="@{/contact/edit/{id}(id=${contact.candidateId})}" class="btn btn-sm">
                                        <i class="icofont icofont-ui-edit"></i></a>
                                    <a id="deleteButton" th:href="@{/contact/delete/{id}(id=${contact.candidateId})}" class="btn btn-sm" >
                                        <i class="icofont icofont-ui-delete"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Tên</th>
                            <th>Vị Trí </th>
                            <th>Level</th>
                            <th>Skill</th>
                            <th>Exp</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Blacklist</th>
                            <th>Action</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <script>
        $(document).on("click", ".phone", function(){
            if($(this).hasClass("hidetext")){
                $(this).removeClass("hidetext")
            }else{
                $(this).addClass("hidetext")
            }
        });
    </script>

    <script>
        // Thêm các thuộc tính tìm kiếm hiển thị cho bảng
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
    <script>
        // Thêm modal delete
        $(document).ready(function() {
            $('.table #deleteButton').on('click',function(event){
                event.preventDefault();
                // laays link
                var href = $(this).attr('href');
                console.log(href)
                $('#deleteModal #delRef').attr('href',href);

                $('#deleteModal').modal();
            });
        } );
    </script>
</section>

</body>



</html>